
@media only screen and (max-width: 576px) {
    .container{
        margin-left: 5rem;
    }
    .nav, .nav-menu > ul, .banner, .gammer, .play, .col-1, .col-2, .videos{
        flex-direction: column;
    }
    .nav, .banner, .banner-one, .gammer, .play, .button, .videos{
        margin: 10px 10px;
        padding: 0;
    }
    .gammer-image{
        width:23rem;
    }
    .gammer-content, .play-content{
        text-align: center;
    }
    .play-image{
        margin-top: 10px;
        margin-left: 60px;
    }
    .gammer-image>img{
        width: 104%;
    }
    footer{
        padding: 20px 30px;
        margin: 0;
    }
    .nav-title{
        margin-left: 67px;
    }
  }





@media screen and (min-width:5765px) and (max-width:768px) {

}