
@media only screen and (max-width: 576px) {
    .nav, .nav-menu > ul, .banner{
        flex-direction: column;
    }
    .nav, .banner, .banner-one{
        margin: 10px 0px 10px 20px;
        padding: 0;
        gap: 0px;
    }
  }





@media screen and (min-width:5765px) and (max-width:768px) {

}